$accent: #FF6838;
$default: #31352B;
$title: #363853;
$white: #fff;
$bg: #f9faff;
$dots: #C2C2C2;
$silver: #ececec;



%OpenSans-600 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%Rubik-Italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%RobotoCondensed-400 {
  font-family: 'RobotoCondensed', sans-serif;
  font-weight: 400;
}